@import url("https://use.typekit.net/ant3enn.css");

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background-image: url("uploads/Pink-leaves-vector-graphic.png"); /*freepik licenced image*/
    font-family: basic-sans, sans-serif;
    font-weight: 300;
    font-style: normal;
    padding: 1rem;
}

h1 {
    font-family: basic-sans, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 3rem;
    color: #643843;
}

h2 {
    font-family: renata, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
}

p {
    font-size: 2rem;
    padding-top: 2rem;
}

.container {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    .wrap {
        max-width: 700px;
        margin: auto;
        padding: 2rem;
        border: solid 1px;
        border-color: #643843;
        border-radius: 50px;
        background: rgba(250, 223, 229, 0.5)
    }
    .quote-button {
        background-color:#643843;
        border: none;
        border-radius: 50px;
        padding: 1rem 2rem;
        font-size: 18px;
        color: #fff;
    }
    .quote-button:hover {
        background-color:#4a262f;
        cursor: pointer;
    }
}

